* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
  }
  
  main {
    padding: 0 2% 0 2%;
    background: linear-gradient(180deg, #0b0b10, #0a0a0f);
  }
  
  .dtexto_setores {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 7rem 0 3rem 0;
    gap: 0.8rem;
  
    img {
    background-color: #7F00FF;
    background: linear-gradient(to bottom right, #7F00FF, #BC00FF);
    box-shadow: 0 10px 15px -3px rgba(127, 0, 255, 0.5), 
    0 4px 6px -4px rgba(127, 0, 255, 0.5);
    height: 3.8rem;
    width: 3.8rem;
    padding: 0.75rem 0.75rem;
    border-radius: 1.1rem;
    }
    
    h2 {
      font-size:4.1rem;
      font-family: 'Syne', sans-serif;
      font-weight: 550;
      
    }
    p {
      font-size: 1.14rem;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 600;
      color: #9D9AA8;
    }
    span {
      color: rgb(127, 0, 255);
    }
  }
  
  .conteiner_setores {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
  }
  
  .dsetores_linha1 {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    height: 100%;
    width: 100%;
    gap: 2rem;
  }
  
  .dsetores1 {
    display: flex;
    background-color: rgb(48, 25, 52);
    border: 0.1px solid #8000ff54;
    height: 16.5rem;
    width: 50%;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 1s ease-out;
  }
  
  .dsetores2 {
    display: flex;
    background-color: rgb(48, 25, 52);
    border: 0.1px solid #8000ff54;
    height: 16.5rem;
    width: 50%;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 1s ease-out;
  }
  
  .dsetores3 {
    display: flex;
    background-color: rgb(48, 25, 52);
    border: 0.1px solid #8000ff54;
    height: 17rem;
    width: 50%;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 1s ease-out;
  }
  
  .dsetores4 {
    display: flex;
    background-color: rgb(48, 25, 52);
    border: 0.1px solid #8000ff54;
    height: 17rem;
    width: 50%;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 1s ease-out;
  }
  
  .dsetores1:hover,.dsetores2:hover,.dsetores3:hover,.dsetores4:hover {
    transform: translateY(-10px);
    border: 0.1px solid #7F00FF;
    h3 {
      color: #7F00FF;
    }
  }
  
  
  .dtexto_setores1 {
    height: 100%;
    width: 50%;
    padding: 2rem 1rem 2rem 1.5rem;
    h3{
    font-size: 1.5rem;
    font-family: 'Syne', sans-serif;
    font-weight: 0;
    padding: 0 0 1rem 0;
   }
  p {
      font-size: 1rem;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 600;
      color: #9D9AA8;
   }
   a {
     font-family: 'Nunito Sans', sans-serif;
     color: #7F00FF;
     text-decoration: none;
     font-size: 0.9rem;
   }
  }
  
  .dtexto_setores2 {
    padding: 2rem 1.5rem;
    h3{
    font-size: 1.5rem;
    font-family: 'Syne', sans-serif;
    padding: 0 0 1rem 0;
   }
   p {
      font-size: 1rem;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 550;
      color: #9D9AA8;
   }
   a {
    font-family: 'Nunito Sans', sans-serif;
    color: #7F00FF;
    text-decoration: none;
    font-size: 0.9rem;
   }
  }
  
  .dtexto_setores3 {
    padding: 1rem 1rem 2rem 1.5rem;
    h3{
    font-size: 1.5rem;
    font-family: 'Syne', sans-serif;
    font-weight: 0;
    padding: 0 0 1rem 0;
   }
  p {
      font-size: 1rem;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 600;
      color: #9D9AA8;
   }
   a {
     font-family: 'Nunito Sans', sans-serif;
     color: #7F00FF;
     text-decoration: none;
     font-size: 0.9rem;
   }
  }
  
  .dtexto_setores4 {
    padding: 2rem 1.5rem;
    h3{
    font-size: 1.5rem;
    font-family: 'Syne', sans-serif;
    padding: 0 0 1rem 0;
   }
   p {
      font-size: 1rem;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 550;
      color: #9D9AA8;
   }
   a {
    font-family: 'Nunito Sans', sans-serif;
    color: #7F00FF;
    text-decoration: none;
    font-size: 0.9rem;
    padding-top: 2rem;
   }
  }
  
  .verdetalhes {
    transition: all 0s ease-out;
  }
  
  .verdatalhes:hover {
    transform: translateX(8px);
    width: 1rem;
  }
  
  .imagem_maiorsetor1 {
    position: relative; /* IMPORTANTE */
  
    img {
      height: 100%;
      width: 12rem;
      border-radius: 1rem 0 0 1rem;
  
    }
  
    .pdaimagemmaior {
      position: absolute;
      top: 0; /* canto superior */
      left: 0; /* canto esquerdo */
      margin: 0; /* evita deslocamento estranho */
      margin: 1rem 0 0 1rem;
      border-radius: 2rem;
      background: rgba(34, 197, 94, 0.3);
      border: 0.1px solid rgba(34, 197, 94, 0.8);
      p {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2rem;
      width: 4rem;
      color: rgb(34, 197, 94);
      }
  
    }
  }
  
  .setorestexto {
    padding-bottom: 1rem;
  }
  
  .setorestexto1 {
    padding-bottom: 1rem;
  }
  
  .dados_setores {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.8rem;
    img {
    height: 1.1rem;
    width: 1.1rem;
    }
    p {
      font-size: 0.9rem;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 500;
      color: #9D9AA8;
    }
  }
  