* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

/*main*/

main {
  padding: 0 1.5%;
  background: linear-gradient(180deg, #0b0b10, #0a0a0f);
}

.comeco_conteiner {
  padding: 1rem 4rem;
  background: linear-gradient(135deg, #3B0F3F, #3B0F3F, #220A2F);
  border: 1px solid rgba(84, 48, 115, 0.42);
  box-shadow:
    0 0 20px rgba(168, 0, 255, 0.2),
    inset 0 0 10px rgba(255, 0, 255, 0.1);
  border-radius: 0 0 1rem 2rem;
  height: 12rem;
  width: auto;
  color: white;
}

.comeco_bemvindo {
  display: flex;
  gap: 2rem;
}

.bemvindo_imagem {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #7c3aed, #a855f7);
  height: 5rem;
  width: 5rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 0 0 #9738FF59;

  img {
    height: 3rem;
    width: auto;
  }


}


.bemvindo_texto {
  h2 {
    font-size: 4rem;
    height: 5.5rem;
    font-family: 'Syne', sans-serif;
    font-weight: 550;
    margin: 0;
  }

  p {
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    color: #9D9AA8;

  }

  span {
    color: rgb(127, 0, 255);
  }
}

.titulos {
  font-family: 'Syne', sans-serif;
  padding: 5rem 0 2rem 0;

  h3 {
    font-size: 1.5rem;
  }
}

.container_estatisticas {
  display: flex;
  gap: 2rem;
}

.destatistica {
  height: 9rem;
  width: 32%;
  border-radius: 1rem;
  background: #3B0F3F;
  padding: 2rem 0;
  display: flex;
  border: 1px solid rgba(64, 45, 173, 0.737);
  transition: all 0.5s ease-out;
  img {

  }

  p {
    font-family: 'Nunito Sans', sans-serif;
    color: #9D9AA8;
    align-items: end;
  }

  h4 {
    font-family: 'Syne', sans-serif;
    font-size: 2rem;
  }
}

.destatistica:hover {
  display: flex;
  box-shadow:
    0 0 20px rgba(168, 0, 255, 0.2),
    inset 0 0 10px rgba(255, 0, 255, 0.1);
  transform:translateY(-4px);
}

.destatistica1 {
  display: flex;
  align-items: center;


}

.destatistica2 {
  display: flex;
  align-items: end;
}

/*fim main*/