*{
margin: 0;
box-sizing: border-box;
padding: 0;

}
body {
    font-family: 'Popins', Helvetica, sans-serif;
    background: radial-gradient(circle at right, #1A0A2A, #050507);
}
.logo {
    background: linear-gradient(135deg, #7a00ff, #a100ff, #c84dff);
    box-shadow: 0 0 20px rgba(161, 0, 255, 0.6);
    border-radius: 0.5rem;
    height: 80px;
    display: block;
    margin: 1rem auto;
}
.titulo {
    text-align: center;
    font-size: 3rem;
    color: aliceblue;
    margin: 2rem 0;
    font-weight: 600;
}
.titulo span {
    background: rgb(127, 0, 255);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.titulo-p {
    font-size: 1.1rem;
    color: #9D8CA8;
    margin: 2rem 0;
    text-align: center;
}
.conteiner {
    background-color: #2A1433;
    width: 25%;
    display: block;
    border-radius: 1rem;
    padding: 1rem;
    border: #3A1F4A 1px solid;
    margin: auto;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
    text-align: center;
}
.conteiner h1{
    color: azure;
    font-weight: 200;
    font-size: 1.8rem;
    margin: 1rem 0;
}
.conteiner p {
    color: #9D8CA8;
}
.button-prof {
    background-color: transparent;
    padding: 1rem 4rem;
    border: #3A1F4A 2px solid;
    height: 50%;
    margin: 1rem 1rem;
    border-radius: 1rem;
}
.button-aluno img,.button-prof img {
    height: 50px;
}
.button-aluno {
    background-color: transparent;
    padding: 1rem 4rem;
    border: #3A1F4A 2px solid;
    height: 50%;
    border-radius: 1rem;
    margin: 1rem 1rem;
 
}
.button-aluno:focus,.button-prof:focus {
    border: #A020F0 1px solid;
    box-shadow: 0 0 10px rgba(160, 32, 240, 0.5),
            0 0 20px rgba(160, 32, 240, 0.3);
            background-color: #430c58;
}
.conteiner label {
    text-align: start;
    margin: 1rem 0;
    color: white;
}
.conteiner input {
    padding: 1rem;
    width: 90%;
    background-color: #1A0F22;
    margin: 1rem 0;
    border: #3A1F4A 1px solid;
    color: #FFFFFF;
    border-radius: 1rem;
}
.conteiner input:focus {
    border: #A020F0 1px solid;
    box-shadow: 0 0 10px rgba(160, 32, 240, 0.5),
            0 0 20px rgba(160, 32, 240, 0.3);
            outline: none;
}
.conteiner input::placeholder {
    color: #8A7A99;
}
.button-entrar {
    background: linear-gradient(90deg, #7B2CBF, #C77DFF);
    box-shadow: 0 5px 15px rgba(160, 32, 240, 0.3);
    color: white;
    font-size: 1.4rem;
    padding: 1rem;
    width: 80%;
    margin: 1rem auto;
    border: none;
    border-radius: 1rem;
    transition: 0.3s all ease;
}
.button-entrar:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(160, 32, 240, 0.5);
  }
.conteiner a {
    text-decoration: none;
    color: #a1a1aa;
    font-size: 1.1rem;
    display: block;
  }
  
.conteiner a:hover {
    color: #7a00ff;
    animation: moverParaDireita 0.8s ease forwards;
  }
  @keyframes moverParaDireita {
    0% {
      transform: translateX(0);
    }
    
    100% {
      transform: translateX(8px);
    }
  }


.p-footer {
    color: #a1a1aa;
    text-align: center;
    margin: 2rem 0;
}  
.a-footer {
    text-decoration: none;
    color: #7a00ff;
    font-size: 1rem;

}