* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Poppins", sans-serif;
}

.logo {
  background: linear-gradient(135deg, #7a00ff, #a100ff, #c84dff);
  box-shadow: 0 0 20px rgba(161, 0, 255, 0.6);
  border-radius: 0.5rem;
  height: 80px;
  display: block;
  margin: 1rem auto;
}

.titulo {
  text-align: center;
  font-size: 5rem;
  color: aliceblue;
  font-weight: 600;
}

.titulo span {
  background: rgb(127, 0, 255);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titulo-p {
  font-size: 1.3rem;
  color: #9d8ca8;
  margin: 2rem 0;
  text-align: center;
}

.prof {
  border-radius: 1rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #050505;
  border: 1px solid rgba(180, 180, 180, 0.18);
  transition: 0.35s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.prof:hover {
  transform: translateY(-8px);
  border-color: #c014ff;
  box-shadow: 0 0 22px rgba(192, 20, 255, 0.25);
}

.prof:hover h1 {
  transform: scale(1.1);
  color: white;
  box-shadow: 0 0 25px rgba(200, 77, 255, 0.8);
}

.prof a {
  text-decoration: none;
  color: #a1a1aa;
  font-size: 1.5rem;
  display: block;
  margin: auto;
  text-align: center;
}

.prof:hover a {
  color: #7a00ff;
  animation: moverParaDireita 0.8s ease forwards;
}

@keyframes moverParaDireita {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(8px);
  }
}

.pd {
  color: #c9a7ff;
  font-size: 1rem;
  line-height: 1.7;
  margin: 1rem;
}

.p2 {
  color: #c9a7ff;
  font-size: 1.1rem;
  line-height: 1.7;
  margin: 1rem;
}

.prof h1 {
  text-align: center;
  font-size: 4rem;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: linear-gradient(135deg, #7b2cff, #c014ff);
  color: #ffffff;
  align-items: center;
  justify-content: center;
  animation: pulse 2s infinite ease-in-out;
  padding: 0.5rem;

  box-shadow: 0 0 18px rgba(168, 85, 247, 0.55);
  background-color: #7a00ff;
  margin-top: 1rem;
  transition: 0.3s all ease;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 12px rgba(168, 85, 247, 0.45);
  }

  50% {
    box-shadow: 0 0 24px rgba(168, 85, 247, 0.85);
  }

  100% {
    box-shadow: 0 0 12px rgba(168, 85, 247, 0.45);
  }
}

.prof h2 {
  color: white;
  font-weight: 400;
  margin: 1rem;
}

.professores {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  margin: 2rem;
}
