* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #140914;
  font-family: "Poppins", sans-serif;
}


.titulo {
  text-align: center;
  margin-top: 1rem;
  font-size: 4rem;
  color: aliceblue;
  font-weight: 500;
}

.topico {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.topicos-container {
  display: flex;
  margin-bottom: 2rem;

}

.topico img {
  width: 52px;
  height: 52px;
  box-shadow: 0 0 18px rgba(193, 0, 255, 0.35);
  border-radius: 0.5rem;
  background: linear-gradient(135deg, #c100ff, #7b2cff);
  color: #fff;
  padding: 0.5rem;
}

.topico h2 {
  color: antiquewhite;
  font-size: 1.1rem;
}

.topico p {
  color: aliceblue;
}

.conteinerprincipal {
  border: rgba(177, 0, 255, 0.25) 1px solid;
  width: 80%;
  background-color: #32002F;
  margin: 1rem auto;
  border-radius: 1rem;
  padding: 1rem;
}

.descrição {
  border: 1px solid rgba(177, 0, 255, 0.25);
  ;
  display: block;
  margin: auto;
  background: #0f0f14;
  width: 80%;
  background-color: #22001F;
  border-radius: 1rem;
  padding: 1rem;
  color: #f2f2f2;
  box-shadow: 0 0 18px rgba(162, 0, 255, 0.12);
}

.prof-inicial {
  text-align: center;
  font-size: 4rem;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(135deg, #7b2cff, #c014ff);
  color: #ffffff;
  align-items: center;
  justify-content: center;
  animation: pulse 2s infinite ease-in-out;
  padding: 0.2rem;
  box-shadow: 0 0 18px rgba(168, 85, 247, 0.55);
  background-color: #7a00ff;
  margin-top: 1rem;
  display: block;
  margin: auto;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 12px rgba(168, 85, 247, 0.45);
  }

  50% {
    box-shadow: 0 0 24px rgba(168, 85, 247, 0.85);
  }

  100% {
    box-shadow: 0 0 12px rgba(168, 85, 247, 0.45);
  }
}

.topicos-container {
  display: flex;
  align-items: center;
  gap: 14px;
  background: #22001F;
  padding: 18px 20px;
  border-radius: 16px;
  border: 1px solid rgba(177, 0, 255, 0.25);
  ;
  transition: 0.3s;
  justify-content: space-between;
}

.subtitulo-professor {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem auto;
}

.topicos-container:hover {
  transform: translateY(-4px);
  border-color: rgba(177, 0, 255, 0.4);
  box-shadow: 0 10px 25px rgba(177, 0, 255, 0.12);
}